<table class="cdmn-table" (mouseenter)="showSymbols()" (mouseleave)="hideSymbols()">
    <!-- Table annotation. This cell needs to span over all input columns -->
    <tr *ngIf="dataSource[0][0] !== 'glossary' && dataSource[0][0] !== 'goal'">
        <th class="cdmnHeader" [attr.colspan]="nbInputs+1" style="width: auto;">
            <input [ngModel]="dataSource[0][0]" class="column cell"
             (change)="updateCell(0, 0, $event)"
             [ngStyle]="{'width': headerWidth}"
             id="input_{{this.tableId}}_0_0"
             />

        </th>
    </tr>
    <tr>
        <!-- Headers -->
        <th *ngFor="let cell of dataSource[1]; index as i" [ngStyle]="{'width': colWidth[i]}" class="cdmnHeader">

            <!-- <input [(ngModel)]="dataSource[1][i]" class="column cell" -->
            <input [ngModel]="dataSource[1][i]" class="column cell"
             (change)="updateCell(1, i, $event)"
             [ngClass]="{'input': this.dataSource[0][i] === 'input', 'output': this.dataSource[0][i] === 'output', 'glossTitle': this.dataSource[0][i] === 'glossary', 'goalTitle': this.dataSource[0][i] === 'goal'}"
             name="columnHeaders"
             [ngStyle]="{'width':colWidth[i]}"
             id="input_{{this.tableId}}_1_{{i}}"
             [readonly]="this.dataSource[0][i] === 'glossary' || this.dataSource[0][i] === 'goal'"
             />
        </th>
        <th *ngIf="symbolsVisible && dataSource[0][0] === 'id'; else leftBorder" class="buttonCell"> <button (click)="addRow(2)" class="button" class="button"> <i class="pi pi-plus"></i> </button> </th>
        <!-- If the buttons aren't shown, add an empty cell to ensure the border stays visible. -->
        <ng-template #leftBorder><th></th></ng-template>
    </tr>
    <tr *ngFor="let row of dataSource.slice(2); index as j">
        <!-- Body -->
        <td *ngFor="let cell of row; index as i" [ngStyle]="{'width': colWidth[i]}" class="cdmnBody">
            <input [ngModel]="row[i]" class="cell"
             (change)="updateCell(j+2, i, $event)"
             [ngStyle]="{'width':colWidth[i]}"
             [ngClass]="{'glossHeader': (j == 0 && this.dataSource[0][i] === 'glossary')}"
             id="input_{{this.tableId}}_{{j+2}}_{{i}}"
             [readonly]="dataSource[0][i] === 'glossary' && j == 0"
             onfocusout="console.log('brol')"
             />
        </td>
        <td class="buttonCell" *ngIf="symbolsVisible && ((this.dataSource[0][0] !== 'glossary' && this.dataSource[0][0] !== 'goal') || j > 0)"><button (click)="removeRow(j+2)" class="button"> <i class="pi pi-minus"></i> </button> </td>
        <td class="buttonCell" *ngIf="symbolsVisible"> <button (click)="addRow(j+3)" class="button"> <i class="pi pi-plus"></i> </button> </td>
        <!-- If the buttons aren't shown, add an empty cell to ensure the border stays visible. -->
        <ng-template #leftBorder><td></td></ng-template>
    </tr>
    <tr *ngIf="symbolsVisible && (this.dataSource[0][0] !== 'glossary' && this.dataSource[0][0] !== 'goal')">
        <!-- Bottom button row, to add and remove columns -->
        <td class="buttonCell">
           <button (click)="addCol(1)" class="button"> <i class="pi pi-plus"></i> </button>
        </td>

        <td *ngFor="let cell of dataSource[0].slice(1); index as i" class="buttonCell">
           <button (click)="removeCol(i+1)" class="button"> <i class="pi pi-minus"></i> </button>
           <button (click)="addCol(i+2)" class="button"> <i class="pi pi-plus"></i> </button>
        </td>
    </tr>
    <tr *ngIf="symbolsVisible && (this.dataSource[0][0] !== 'glossary' && this.dataSource[0][0] !== 'goal')">
        <!-- Bottom row to modify input -> output and vice versa -->
        <td *ngFor="let cell of dataSource[2]; index as i" class="buttonCell">
           <button *ngIf="dataSource[0][i] === 'input' && dataSource[0][i+1] === 'output'"
               class="button"
               (click)="toOutput(i)"> <i class="pi pi-step-forward"></i></button>
           <button *ngIf="(i !== dataSource[0].length - 1) && (dataSource[0][i-1] === 'input' || dataSource[0][i-1] === 'id') && dataSource[0][i] === 'output'"
               class="button"
               (click)="toInput(i)"> <i class="pi pi-step-backward"></i></button>
        </td>
    </tr>
</table>
