.cdmn-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cdmnHeader {
    font-size:14px;
    overflow:hidden;
    word-break:normal;
    border: 1px solid grey;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.cdmnBody {
    font-size:14px;
    font-weight:normal;
    padding:1px 2px;
    overflow:hidden;
    word-break:normal;
    border: 1px solid grey;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}


.input {

}

.cell {
    border: 0px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
}


.column {
   font-weight: bold; 
}

.input {
    background-color: #b6d7a8;
}

.output {
    background-color: #cfe2f3;
}

.glossTitle{
    font-weight:bold;
    background-color:#FFC485;
    text-align:center;
    vertical-align:middle;
    color: #000000
}

.glossHeader {
    font-weight:bold;
    text-align:left;
    vertical-align:top; 
    color: #000000
}

.goalTitle {
    font-weight:bold;
    background-color:#ec9ba4;
    text-align:center;
    vertical-align:middle;
    color: #000000
}



.button {
    font-size: 10px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    z-index: 1002;
    border: 0px;
}

.buttonCell {
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
