<p-scrollPanel [style]="{ width: '100%', height: '80vh' }">
  <div *ngIf="mainScreen">
    <h1> IDP-Z3 introduction </h1>

    <p>
    Welcome!
    This webpage offers an online environment to interact with the <a href="https://idp-z3.be/" target="_blank">IDP-Z3 system</a>.
    IDP-Z3 is a reasoning engine for the FO(·) language, specifically designed to be declarative, versatile, and explainable.
    </p>

    <p>
    To showcase some of the features of IDP-Z3, we have briefly described the important aspects of IDP-Z3 and other relevant tools in a few short chapters below. 
    Click on any of them to get started.
    </p>
    
    <div id="doc-panel-list">
      <ol>
        <li *ngFor="let chapter of chapters" (click)="selectChapter(chapter)">
          <span class="clickable">
            {{ chapter.title }}
          </span>
        </li>
      </ol>
    </div>

    <h2> Need some additional help? </h2>
    
    We have some sources that can assist you in learning IDP-Z3, FO(·), or cDMN:
    <ul>
        <li> <a href="https://docs.idp-z3.be/en/stable/introduction.html" target="_blank">IDP-Z3 documentation</a> </li>
        <li> <a href="https://docs.idp-z3.be/en/stable/introduction.html" target="_blank">IDP-Z3 By Example</a>, an interactive tutorial for FO(·) </li>
        <li> <a href="https://cdmn.readthedocs.io/en/stable/" target="_blank">cDMN documentation</a>
    </ul>

    If you need some more specific help, you are always welcome to ask us a question in our <a href="https://matrix.to/#/#IDP-Z3:matrix.org">Matrix chatroom</a> or to <a href="mailto:mail:krr@cs.kuleuven.be">pop us an email</a>.
    If you encounter any bugs, you may report them on our <a href="https://gitlab.com/krr/IDP-Z3/-/issues" target="_blank">bug tracker</a>.
    
  </div>

  <div>
    <p-button *ngIf="!mainScreen" (click)="goBack()">Back</p-button>
  </div>


  <app-chapter *ngIf="selectedChapter" [chapter]="selectedChapter"></app-chapter>
</p-scrollPanel>
