<h2> Feature Models </h2>

<p>
In addition to FO(·), our online editor also allows you to express knowledge in the form of <i>feature models</i>.
Feature modelling lends itself exceptionally well to <i>configuration problems</i>, a type of problem in which you want to build a product that consists of configurable subcomponents.
</p>


<h3> Small example </h3>

<p>
As an easy example, imagine that we want to make ourselves a sandwhich consisting of a bread type (baguette or bagel) and a filling (ham and/or cheese).
Additionally, we can also add mayonaise.
We could represent such a sandwhich in a feature model as follows: <a href="#" data-ref="fm/sandwhich.json" data-type="fm"> Try in the editor</a>
</p>

<p>
As you can see, a feature model is represented by a set of <i>features</i> that share connections to each other.
The top-most feature is always the product that we want to configure, which in this case is our sandwhich.
Sandwhich has three <i>children</i>, namely Mayonaise, Filling, and Bread.
Note that not all children are modelled in the same way: Mayonaise has a white circle, while the others have a grey one.
These circles are used to indicate whether a feature is mandatory (grey) or optional (white).
Therefore, as our sandwhich does not need to include mayonaise, it is given a white circle.
</p>

<p>
As demonstrated by Filling and Bread, there exist two other methods to modelling parent-child relations.
In the case of Filling, this is the "or"-relation, denoting that at least one of the children must be included.
In contrast, Bread's "alternative" relation denotes that exactly one child must be included, which means that children cannot be combined.
</p>

<p>
Using these straightforward relations, it's possible to model quite complex configuration problems.
Did this example make you hungry?
By clicking on "Interactive Consultant", you can start configuring your own sandwhich. 
Bon appetit! :-)
</p>

<h3> Editor </h3>

<p>
Ready to try modelling yourself?
This section briefly describes how to use the editor.
</p>

<ul>
    <li>Click on the canvas to create a new feature</li>
    <li>Click on an existing feature to modify its properties </li>
    <li>Move around boxes by clicking and dragging </li>
    <li>Connect boxes by selecting the child, and <b>right-clicking</b> the parent </li>
    <li>Modify a features properties using the drop-downs that appear at the top</li>
    <li>Add and remove types using the type editor at the bottom</li>
</ul>

Need some help, or encountered an issue? Feel free to <a href="https://idp-z3.be/contact/">reach out to us!</a>

<h3> Other Examples </h3>

See the general examples sections.
