<h2> Other examples</h2>

This page lists a (random) collection of examples.
You can click on any of them to load them into the editor.

<ul>
  <li> <a href="#" data-ref="polygon.idp">Polygon</a> </li>
  <li> <a href="#" data-ref="registratie.idp">Registration rights</a> </li>
  <li> <a href="#" data-ref="simple_registratie.idp">Simplified Registration rights</a> </li>
  <li> <a href="#" data-ref="specification.idp">Covid example</a> </li>
  <li> <a href="#" data-ref="transitive_closure.idp">Transitive closure</a> </li>
</ul>
