<div class="heading">
  <img src="assets/KU_Leuven_Logo.png" alt="KU Leuven Logo">
  &nbsp;&nbsp;
  <span class="titlespan">
    <ng-container *ngIf="this.idpService.IDE">
      <h1>{{ getTitle() }}</h1>
      <app-header></app-header>
    </ng-container>
    <ng-container *ngIf="!this.idpService.IDE">
      <h1>{{ getTitle() }}</h1>
      <app-header></app-header>
    </ng-container>

    <p-progressSpinner
    [hidden]="idpService.openCalls == 0"
    [style]="{width: '40px', height: '40px', marginLeft: '2em'}"
    animationDuration=".5s"
    fill="#EEEEEE"
    strokeWidth="8">
    </p-progressSpinner>
  </span>
</div>

<ng-container *ngIf="! this.idpService.IDE">
  <app-consultant></app-consultant>
</ng-container>
<ng-container *ngIf="this.idpService.IDE">
  <app-IDE></app-IDE>
</ng-container>

<div class="footContainer" title="This research received funding from the Flemish Government under the “Onderzoeksprogramma Artificiële Intelligentie (AI) Vlaanderen” programme.">
  <a href="https://www.flandersairesearch.be" target="_blank">Funded by the Flemish Government</a>
  <div class="footer">
    Version: {{idpService.versionInfo}}
  </div>
</div>
