<div style="overflow-y: scroll" [(style.height.px)]="canvasHeight">
<div class="buttonDiv">
    <p-button (click)="addTable('type')" label="Type Glossary" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('relation')" label="Relation Glossary" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('function')" label="Function Glossary" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('constant')" label="Constant Glossary" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('bool')" label="Bool Glossary" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
</div>
<div class="buttonDiv">
    <p-button (click)="addTable('decision')" label="Decision Table" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('constraint')" label="Constraint Table" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('goal')" label="Goal Table" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    <p-button (click)="addTable('data')" label="Data Table" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
</div>

<div cdkDropList (cdkDropListDropped)="reorder($event)">
    <div cdkDrag *ngFor="let tab of idpService.tables; index as i">
        <div style="display: flex; margin-top: 10px;">
            <i (click)="delTable(i)" class="pi pi-times" style="color: red;"></i>
            <app-editable-table [dataSource]="tab" [tableId]="i"></app-editable-table>
        </div>
    </div>
</div>

</div>
