:host {
  display: flex;
  flex-direction: row;
}

:host >>> .p-menubar {
  border: 0
}

.btnSetting {
  margin-top: 1em;
  height: 2em;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1em;
}

.setting {
  display: flex;
  align-items: center;
}

.setting p {
  width: 9em;
}

.setting p-selectButton {
  width: 15em;
}

:host >>> .p-sidebar-left.p-sidebar-lg, .p-sidebar-right.p-sidebar-lg {
  width: 50%;
}

.table {
  background-color: inherit;
	border-collapse: collapse;
  text-align: center;
}
.table tr:first-child {
  font-weight: bold;
  background-color: #EEE;
}
.cell {
  border: 1px solid #c8c8c8;
  vertical-align: top;
  padding: 10px;
}

:host >>> .abstract {
  height:90%;
  width:80%
}
