<section>
  <div class="container text-center">
      <!--
    <div
      class="from-body to-theme-light   rounded-2xl bg-gradient-to-b px-8 py-14">
      <h1>{{ .Title | title }}</h1>
      {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6") }}
    </div>
      -->
  </div>
</section>
