<p-tabView [(activeIndex)]="idpService.activeTab"
           (onChange)="updateTab($event)">
    <p-tabPanel header="FO(·)">
    <div>
        <div pTooltip="Subset (<:)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('⊆')" styleClass="p-button-secondary type" label="⊆">
            </p-button>
        </div>
        <div pTooltip="Cross-product" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('⨯')" styleClass="p-button-secondary type" label="⨯">
            </p-button>
        </div>
        <div pTooltip="Yields (->)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('→')" styleClass="p-button-secondary type" label="→">
            </p-button>
        </div>
        <div pTooltip="Bool" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('𝔹')" styleClass="p-button-secondary type" label="𝔹">
            </p-button>
        </div>
        <div pTooltip="Int" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('ℤ')" styleClass="p-button-secondary type" label="ℤ">
            </p-button>
        </div>
        <div pTooltip="Real" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('ℝ')" styleClass="p-button-secondary type" label="ℝ">
            </p-button>
        </div>

        <div pTooltip="For all (!)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('∀')" styleClass="p-button-secondary type" label="∀">
            </p-button>
        </div>
        <div pTooltip="Exists (?)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('∃')" styleClass="p-button-secondary type" label="∃">
            </p-button>
        </div>
        <div pTooltip="in" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('∈')" styleClass="p-button-secondary type" label="∈">
            </p-button>
        </div>
        <div pTooltip="not in" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('∉')" styleClass="p-button-secondary type" label="∉">
            </p-button>
        </div>
        <div pTooltip="Definition (<-)" style="display:inline-block; margin: 5px;">

            <p-button (click)="type('←')" styleClass="p-button-secondary type" label="←">
            </p-button>
        </div>
        <div pTooltip="And (&)" style="display:inline-block; margin: 5px;">

            <p-button (click)="type('∧')" styleClass="p-button-secondary type" label="∧">
            </p-button>
        </div>
        <div pTooltip="Or (|)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('∨')" styleClass="p-button-secondary type" label="∨">
            </p-button>
        </div>
        <div pTooltip="Not (~)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('¬')" styleClass="p-button-secondary type" label="¬">
            </p-button>
        </div>
        <div pTooltip="Implies (=>)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('⇒')" styleClass="p-button-secondary type" label="⇒">
            </p-button>
        </div>
        <div pTooltip="Equivalence (<=>)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('⇔')" styleClass="p-button-secondary type" label="⇔">
            </p-button>
        </div>
        <div pTooltip="Reverse implication (<=)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('⇐')" styleClass="p-button-secondary type" label="⇐">
            </p-button>
        </div>
        <div pTooltip="Less or equal (=<)" style="display:inline-block; margin: 5px;">

            <p-button (click)="type('≤')" styleClass="p-button-secondary type" label="≤">
            </p-button>
        </div>
        <div pTooltip="Definitional equality (:=)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('≜')" styleClass="p-button-secondary type" label="≜">
            </p-button>
        </div>
        <div pTooltip="Different (~=)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('≠')" styleClass="p-button-secondary type" label="≠">
            </p-button>
        </div>
        <div pTooltip="Greater or equal (>=)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('≥')" styleClass="p-button-secondary type" label="≥">
            </p-button>
        </div>
        <div pTooltip="Superset (:>)" style="display:inline-block; margin: 5px;">
            <p-button (click)="type('⊇')" styleClass="p-button-secondary type" label="⊇">
            </p-button>
        </div>
        <div *ngIf="!textModeUnicode" style="display: inline-block; margin: 5px;">
            <div pTooltip="Convert to Unicode" style="display:inline-block; margin: 5px;">
                <p-button (click)="switchTextMode('unicode')" styleClass="p-button-secondary type" label="Prettify">
                </p-button>
            </div>
        </div>
        <div *ngIf="textModeUnicode" style="display: inline-block; margin: 5px;">
            <div pTooltip="Convert to ASCII" style="display:inline-block; margin: 5px;">
                <p-button (click)="switchTextMode('ascii')" styleClass="p-button-secondary type" label="To Ascii">
                </p-button>
            </div>
        </div>

        <ngx-monaco-editor [(ngModel)]="this.idpService.spec"
                           [options]="editorOptions"
                           (onInit)="onInitEditor($event)">
        </ngx-monaco-editor>
    </div>
    </p-tabPanel>

    <p-tabPanel header="cDMN">
    <div class="buttonDiv">
        <p-button (click)="downloadCDMN()" label="Download model"></p-button>
        &nbsp;
        Upload model:
        <input type="file" id="myFile" accept=".json" (change)="uploadCDMN($event)">
    </div>
    <app-table-editor style="height: 100%"></app-table-editor>
    </p-tabPanel>

    <p-tabPanel header="Feature Model">
    <div class="buttonDiv">
        <p-button (click)="downloadFM()" label="Download model"></p-button>
        &nbsp;
        Upload model:
        <input type="file" id="myFile" accept=".json" (change)="uploadFM($event)">
        <p-button (click)="resetFM()" label="Delete model"></p-button>
    </div>
        <ng-template pTemplate="content"> <!--- Lazy load the editor so that the svg calculations are correct: https://primeng.org/tabview#lazy -->
            <app-feature-model-editor style="height: 100%"></app-feature-model-editor>
        </ng-template>
    </p-tabPanel>

</p-tabView>
