.errStream {
  white-space: pre;
}

ngx-monaco-editor {
  height: 75vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.btnbox {
  margin-bottom: 10px;
}

.p-col-8 {
  width: 60%;
  margin: 5px;
}

.p-col-4 {
  width: 30%;
  margin: 5px;
}

/* This override ensures there's no border around the tabs, which are quite ugly */
:host ::ng-deep .p-tabview .p-tabview-panels {
    border: 0px;
}
