<div #splitterContainer class="splitter-container">
  <p-splitter #splitter1
              [panelSizes]="[-1, 100]"
              [stateKey]="splitter1key"
              stateStorage="local"
              gutterSize="6">

    <!-- First panel -->
    <ng-template pTemplate>
      <div #docContainer
           class="lcolumn">
        <app-docpanel *ngIf="showPanel1"></app-docpanel>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <p-splitter #splitter2
                  [panelSizes]="[100, -1]"
                  [stateKey]="splitter2key"
                  stateStorage="local"
                  gutterSize="6">

        <!-- Second panel -->
        <ng-template pTemplate>
          <div #editorContainer
               class="mcolumn">
            <app-editor></app-editor>
          </div>
        </ng-template>

        <!-- Third panel -->
        <ng-template pTemplate>
          <div #outputContainer
               class="rcolumn">
            <app-outputpanel *ngIf="showPanel2"></app-outputpanel>
          </div>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</div>
