<div id="toolbar">
    <div *ngIf="selectedBox != null" style="position: absolute">
        <input type="text" pInputText [(ngModel)]="selectedBox.t.firstChild.textContent"/>
        <p-dropdown [options]="typeOptions" [(ngModel)]="selectedBox.type" (click)="boxUpdateComplete(selectedBox);"> </p-dropdown>
        <p-dropdown [options]="abstractOptions" [(ngModel)]="selectedBox.concrete" (click)="boxUpdateVisual(selectedBox)"> </p-dropdown>
        <p-dropdown [options]="childOptions" [(ngModel)]="selectedBox.childStyle" (click)="boxUpdateVisual(selectedBox)"> </p-dropdown>
        <p-dropdown [options]="parentOptions" [(ngModel)]="selectedBox.parentStyle" (click)="boxUpdateVisual(selectedBox)"> </p-dropdown>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text" (click)="this.boxDelete(selectedBox)"></button>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" id="feature-model-svg" (click)="this.spaceClicked($event)"
    #svg>
    <style>
        text { font:18px serif;user-select:none; }
        rect { fill:#eee;stroke:#afafaf;stroke-width:1px; }
        line { stroke:#555;stroke-width:2;stroke-linecap:round; }
        circle { stroke:#555;stroke-width:2;fill:#fff; }
        path { stroke:#555;fill:#555;stroke-width:2; }
    </style>
</svg>
<div id="legend-box">
    <h2>Type declarations</h2>
    <ul style="list-style-type: none;">
      <li *ngFor="let type of idpService.featureModel.legend; index as i">
         <span *ngIf="type.editable; else noEdit">
             <input type="text" pInputText [(ngModel)]="type['name']"/>
             <input type="text" pInputText [(ngModel)]="type['values']"/>
         </span>
         <ng-template #noEdit>
             {{type['name']}}: {{type['values']}}
         </ng-template>
         <button pButton pRipple type="button" size="small" icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="type.editable = !type.editable"></button>
         <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-trash" class="p-button-rounded p-button-text" (click)="this.removeLegendValue(i)"></button>
      </li>
      <li>
         <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-plus" class="p-button-rounded p-button-text" (click)="idpService.featureModel.legend.push({name: 'new type', values: '', editable: true})"></button>
      </li>
    </ul>
</div>
