h1 {
  font-size: 35px;
  margin-right: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

.heading {
  display: flex;
  align-items: center;
}

.titlespan {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selector {
  display: flex;
  align-items: center;
  height: 1.75em;
  margin: 0.2em;
}

button {
  font-size: 18px;
  width: 1.5em !important;
  margin: 0.135em;
}

.footContainer{
  position:fixed;
  bottom:0;
  width:calc(100vw - 50px);
}
.footer {
  float: right;
  height: 25px;
  text-align: right;
  font-size: 10px;
}

img {
  max-width: 100px;
  height:auto;
}
