:host >>> .my-panel .p-panel-titlebar,
:host >>> .my-panel .p-panel-content,
:host >>> .my-panel .p-panel-footer {
  background: #EEE;
}
:host >>> .green-panel .p-panel-titlebar,
:host >>> .green-panel .p-panel-content,
:host >>> .green-panel .p-panel-footer {
  background: #EEE;
  border: 1px solid green;
}
:host >>> .white-panel .p-panel-titlebar,
:host >>> .white-panel .p-panel-content,
:host >>> .white-panel .p-panel-footer {
  background: white;
  color: rgba(0,0,0,0.5);
}
:host >>> .white-panel .p-panel-content{
  border-top: 1px solid #c8c8c8;
}

:host >>> .propo .p-panel-content {
  border-top: 1px solid #c8c8c8;
}
:host >>> .green_propo .p-panel-content {
  border-top: 1px solid green;
}
:host >>> .white_propo .p-panel-content {
  background: white;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.propHeader {
  display: flex;
  flex-direction: row;
}

[hidden] {
  visibility:hidden;
}
